.update_page {
	height: 100%;
	background-color: #fff;
	padding: 1em;
}

.btn_back {
	border: 1px solid black;
	padding: .3em 1em;
}

.update_form {
	display: grid;
	grid-template-columns: 5fr 3fr;
	gap: 1em;
	label,
	legend {
		font-weight: bold;
		font-size: 1.2em;
	}
	@media screen and (max-width: 700px) {
		grid-template-columns: 1fr;
	}
}

.photo_inputs {
	display: grid;
	gap: .5em;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: 1270px) {
		grid-template-columns: 1fr;
	}
}
.photo_list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: .5em;
	label {
		grid-column: span 8;
	}
	div {
		position: relative;
		.btn_remove_photo {
			background-color: red;
			cursor: pointer;
			color: #fff;
			z-index: 1;
			padding: .1em .4em;
			position: absolute;
			top: 0;
			right: 0;
			opacity: .7;
		}
	}
	img {
		width: 100%;
		height: 5em;
	}
}

.priorities, .types {
	label {
		font-weight: normal;
	}
}