$shadowSm: 0 .125rem .25rem rgba(0, 0, 0, 0.07) !important;
$shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;

.update_page {
	box-shadow: $shadow;
	height: 100%;
	background-color: #3a3f46;
	padding: 2em 1em 1em 1em;
	color: #fff;
}

.btn_back {
	box-shadow: $shadowSm;
	cursor: pointer;
	border-radius: 0 1em;
	background-color: #2e3137;
	padding: .7em 2em;
	text-align: center;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
}

.update_form {
	display: grid;
	grid-template-columns: 5fr 3fr;
	gap: 1em;
	input, select, textarea {
		background-color: #3a3f46;
		color: #fff;
	}
	label,
	legend {
		font-weight: bold;
		font-size: 1.2em;
	}
	@media screen and (max-width: 700px) {
		grid-template-columns: 1fr;
	}
}

.photo_inputs {
	display: grid;
	gap: .5em;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: 1270px) {
		grid-template-columns: 1fr;
	}
}
.photo_list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: .5em;
	label {
		grid-column: span 8;
	}
	div {
		position: relative;
		.btn_remove_photo {
			background-color: red;
			cursor: pointer;
			color: #fff;
			z-index: 1;
			padding: .1em .4em;
			position: absolute;
			top: 0;
			right: 0;
			opacity: .7;
		}
	}
	img {
		width: 100%;
		height: 5em;
	}
}

.priorities, .types {
	label {
		font-weight: normal;
	}
}