.offers_list_sort {
  border-radius: 15px;
  background-color: #3a3f46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-radius: 1em;
  background-color: #3a3f46;
  margin: 3em 0 1em 0;

  .title {
    font-size: 20px;
    font-weight: 700;
  }
  .sort {
    display: flex;
    align-items: center;
    span {
      font-size: 21px;
      font-weight: 400;
      span {
        font-weight: bold;
        margin: 0 0.8em 0 1em;
      }
    }
    select {
      padding: 0.5em 1em;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      background-color: #3a3f46;
      color: #ffffff;
      option {
        background-color: #3a3f46;
      }
      &:focus {
        outline: none;
      }
    }
  }
  @media screen and (max-width: 1700px) {
    display: grid;
    gap: 1em;
  }
}

.offers_list {
  background: linear-gradient(to right, #373b42, #2e3137);
  grid-column: span 3;
  @media screen and (max-width: 1550px) {
    grid-column: span 2;
  }
  @media screen and (max-width: 750px) {
    grid-column: span 1;
  }
}

.blue_list_items {
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 3em;
    li {
    }
  }
}

.card {
  border-radius: 1em;
  color: #383b42;
  display: grid;
  grid-template-columns: 38% 42% 20%;
  overflow: hidden;
  @media screen and (max-width: 1550px) {
    grid-template-columns: 2fr 1fr;
  }
  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.card_image {
  grid-row: span 2;
  position: relative;
  overflow: hidden;
  height: 22em;
  border-radius: 1em;

  img {
    //width: 100%;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
  }
  .placeholder {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 1550px) {
    grid-column: span 2;
    grid-row: span 1;
    margin-bottom: 1em;
  }
  @media screen and (max-width: 750px) {
    grid-column: span 1;
  }
}

.card_info_block {
  position: relative;
  padding: 1.3em 1.5em 1em 1.5em;
  color: #ffffff;
  display: grid;
  align-content: space-between;
  background-color: #3a3f46;

  h5 a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
  }
  p {
    min-height: 7em;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4em;
  }
  .user_block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    .elips {
      grid-row: span 2;
      width: 4.5em;
      height: 4.5em;
      border-radius: 50%;
      border: 3px solid #c78550;
      position: relative;
      overflow: hidden;
      img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .user_name {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      font-weight: 700;
    }
    .location {
      svg {
        font-size: 1.3em;
        color: #fff;
        margin-right: 0.5em;
      }
    }
  }
  @media screen and (max-width: 1550px) {
    background: none;
  }
}

.card_control_block {
  border-radius: 1em;
  background-color: #22262a;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 2em 0.7em 0.7em 0.7em;
  display: grid;
  gap: 0.3em;
  p {
    white-space: nowrap;
    color: #79b972;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }
  .price {
    color: #ffffff;
    //font-size: 34px;
    font-weight: 700;
    font-size: 21px;
    align-self: center;
  }
  .open {
    color: #ffffff;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0.6em;
    background-color: #3a3f46;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    height: 2.7em;
    align-self: end;
    a {
      width: 100%;
      color: #ffffff;
      text-decoration: none;
    }
    &:hover,
    &:active {
      background-color: #292d33;
    }
    &.greenBtn {
      transition: 0.3s;
      background-image: linear-gradient(
        to top,
        #3c855b 0%,
        #3c855b 1%,
        #7ab972 100%
      );
      &:hover {
        background-image: linear-gradient(
          to top,
          #2b6d47 0%,
          #3c9d65 1%,
          #5aba4d 100%
        );
      }
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 1em;
  }
}

.disableColor {
  filter: grayscale(100%) !important;
}

.card_footer {
  padding-bottom: .3em;
  grid-column: span 2;
  @media screen and (max-width: 1550px) {
    margin-top: .7em;
  }
  @media screen and (max-width: 750px) {
    grid-column: span 1;
  }
}
.not_published {
  height: calc(100% - 7px);
  width: calc(100% - 7px);
  transform: translate(7px, 7px);
  border-radius: 1em;
  padding: 0.6em 1em;
  display: flex;
  justify-content: flex-end;
  background-color: #3a3f46;
  align-items: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}
.card_footer_content {
  height: calc(100% - 7px);
  width: calc(100% - 7px);
  transform: translate(7px, 7px);
  border-radius: 1em;
  background-color: #3a3f46;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  .card_footer_item {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    user-select: none;
    padding: .4em;
    img {
      height: 1.5em;
      margin-right: 1em;
      transition: .3s;
    }
    &:nth-child(2) {
      margin-left: 2em;
    }
  }
}

.progress_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  padding-right: 1em;
  div {
    background: linear-gradient(to right, #c78550 0%, #f5c99e 100%);
    height: 4px;
    div {
      background: none;
    }
  }
  span {
    background: linear-gradient(to left, #c78550 0%, #f5c99e 100%);
    color: #22262a;
    font-size: 22px;
    font-weight: 700;
    padding: 0.3em 0.7em;
    border-radius: 0.5em 0 0.5em 0;
    position: relative;
  }
}

.toast {
  position: absolute;
  bottom: 0.5em;
  right: 10%;
  z-index: 10;
  background-color: #fff;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  display: grid;
  box-shadow: 0 0 10px 2px rgba(53, 53, 53, 0.27);
  span {
    padding: 0.3em 1em;
    border-bottom: 1px solid #fff;
    padding: 0.1em 0.5em;
    &:hover {
      transition: 0.3s;
      background-color: #eee;
    }
  }
}

.active_burger {
  font-size: 2.7em;
  line-height: 0;
  color: #fff;
  display: inline-block;
  user-select: none;
  transform: translateY(.25em);
  margin-right: .2em;
  transition: .3s;
}
