.verification_block {
  max-width: 100%;
}

.verification_photo {
  width: 10em;
}
.verification_photo_large {
  width: 20em;
  max-width: 100%;
}

.verification_photo_example {
  width: 100%;
}
.heading {
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
.users_list {
  padding: 0;
  list-style: none;
}

.photo_example {
  width: 15em;
  max-width: 100%;
  position: relative;
  display: inline-block;
  margin-right: 1em;
}

.btn_remove_photo {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  padding: 2px 5px;
  z-index: 1;
  cursor: pointer;
}

