.admin_page {
  background-color: #fff;
  min-height: 100vh;
  padding: 1em;
}

.admin_page_control {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  width: 100%;
  @media screen and (max-width: 650px) {
    grid-auto-flow: row;
  }
}