$shadowSm: 0 .125rem .25rem rgba(0, 0, 0, 0.07) !important;
$shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;

.user_card {
  box-shadow: $shadow;
  background: linear-gradient(to bottom, #373b42, #2e3137);
  border-radius: 1em;
  padding: 10rem 1.5rem 3rem 1.5rem;
  width: 100%;
  color: #fff;
  display: grid;
  align-content: stretch;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  z-index: 1;
  transform: translateY(-8rem);
  .user_ava {
    align-self: start;
    grid-row: span 2;
    margin-left: -.5em;
    //margin-top: -10em;
    width: 9em;
    height: 9em;
    border: 4px solid #c78550;
    border-radius: 50%;
    position: relative;
    padding: 0.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }
  .name {
    align-self: end;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
  .rating {
    align-self: start;
    font-size: 1.5em;
  }
}

.content {
  border-radius: 1em;
  padding: 1em;
  background-color: #3a3f46;
  margin-top: -11rem;
  display: grid;
  gap: .8em;

  .status {
    text-align: end;
    color: #79b972;
    font-size: 17px;
    font-weight: 700;
    height: 1em;
  }
  .location {
    height: 1em;
    text-align: end;
    img {
      width: 18px;
      height: 23px;
      filter: invert(1);
      margin-right: .5em;
    }
    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .user_info {
    margin-top: 1em;
    border-radius: 1em;
    background-color: #22262a;
    padding: 1.5em;
    display: grid;
    div {
      white-space: nowrap;
      b {
        font-size: 19px;
        font-weight: 700;
        padding-right: .5em;
      }
    }
  }
  .write_to_author {
    border-radius: .8em;
    background-image: linear-gradient(to top, #3c855b 0%, #3c855b 1%, #7ab972 100%);
    text-align: center;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0em;
    font-size: 17px;
    font-weight: 700;
  }
  .links_title {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    padding: 1em 0;
  }
  .links {
    border-radius: 1em;
    background-color: #22262a;
    display: grid;
    padding: 1em 0;
    a {
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      padding: .5em 1.5em;
      transition: .3s;
      img {
        width: 35px;
        height: 35px;
        margin-right: 1em;
      }
      &:hover {
        text-shadow: 0 5px 10px #999;
      }
    }
  }
}
