@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

.header {
  background: linear-gradient(to right, #383d43, #31353b);
  height: fit-content;
  padding: 1.5em 1.8em;
  position: relative;
  border-radius: 1em;
}

.navbar_nav {
}
.navbar_content {
  justify-content: space-between;
  width: 100%;
}
.navbar_toggler {
}

.header_form {
  display: flex;
  padding: 1.3em 0;
  width: 100%;

  .input_holder {
    position: relative;
    width: 100%;
    svg {
      font-size: 1.8em;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(100%, -50%);
      color: #3a3f46;
    }
    .search_input {
      border-radius: 0 0 0 1.5em;
      background-color: #ffffff;
      padding: 0.95em 1em 0.95em 4em;
      font-weight: 700;
      color: #3a3f46;
      font-family: "Montserrat", sans-serif;
      font-size: 21px;
      width: 100%;
      &::placeholder {
        color: #3a3f46;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .select_holder {
    position: relative;
    background-color: #3a3f46;
    padding-left: 5rem;
    &:hover {
      background-color: #222529;
      span {
        transform: translate(.9em, -50%) rotate(90deg);
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(.9em, -50%);
      user-select: none;
      color: #fff;
      font-size: 1.5em;
      cursor: pointer;
      transition: .3s;
      //z-index: -1;
    }
    .search_select {
      //z-index: 1;
      user-select: none;
      max-width: 12em;
      cursor: pointer;
      appearance: none;
      padding: .5em 1em;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
      height: 100%;
      border: none;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 21px;
      font-weight: 700;
      transition: .3s;
      option {
        background-color: #3a3f46;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .search_btn {
    border-radius: 0 1.5em 0 0;
    border: none;
    background-color: #3a3f46;
    width: 13em;
    color: #c78550;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 700;
    position: relative;
    transition: .3s;
    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 2em;
      border-radius: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #fff;
      display: block;
      transition: .3s;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #222529;
      &:before {
        height: 100%;
      }
    }
  }
}
.heart {
  cursor: pointer;
}
.libra {
  cursor: pointer;
}
.nav_item {
  &:nth-child(1) {
    flex-basis: 8%;
  }
  &:nth-child(2) {
    flex-basis: 15%;
  }
  &:nth-child(3) {
    flex-basis: 15%;
  }
  a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      color: #f6e3ce;
    }
  }
  &.active_link {
    a {
      color: #f5c99e;
    }
  }
}
.nav_item_double {
  flex-basis: 37%;
  display: flex;
  justify-content: flex-end;
  a:first-child {
    padding-right: 1em;
  }
  a:last-child {
    padding-left: 1em;
  }
}
