@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

$shadowSm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07) !important;
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;

.header {
  background: linear-gradient(to right, #383d43, #31353b);
  height: fit-content;
  padding: 1.5rem 4%;
  position: relative;
  border-radius: 1em;
  box-shadow: $shadow;
}

.navbar_nav {
}
.navbar_content {
  justify-content: space-between;
  width: 100%;
  li {
    @media screen and (max-width: 992px) {
      text-align: center;
      padding: .5em 0;
    }
  }
}
.navbar_toggler {
  &:focus {
    outline: none;
  }
}
.sidebar_toggler {
  position: absolute;
  top: 0;
  right: 10em;
  z-index: 99;
  border-radius: 0.3em;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.4em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  background: none;
  font-weight: 600;
  display: none;
  transform: translateY(15%);
  @media screen and (max-width: 1100px) {
    display: block;
  }
  @media screen and (max-width: 992px) {
    right: 1em;
  }
  &:focus {
    outline: none;
  }
}

.header_form {
  display: flex;
  margin: 1.3em 0;
  width: 100%;
  transition: 0.3s;

  @media screen and (max-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (max-width: 750px) {
    .city_loader,
    small {
      order: 4;
    }
  }

  .input_holder {
    position: relative;
    transition: 0.3s;
    width: 100%;
    &:before {
      content: "\26B2";
      font-size: 2vw;
      color: #1e1f1e;
      transform: translateY(-50%) rotate(-45deg);
      display: inline-block;
      position: absolute;
      left: 1em;
      top: 50%;
      z-index: 2;
      @media screen and (max-width: 1100px) {
        font-size: 1.2em;
      }
    }
    .search_input {
      border: none;
      height: 4em;
      border-radius: 0 0 0 1.5em;
      background-color: #ffffff;
      padding: 0.95em 1em 0.95em 4em;
      font-weight: 700;
      color: #3a3f46;
      font-family: "Montserrat", sans-serif;
      font-size: 1vw;
      width: 100%;
      transition: 0.3s;
      @media screen and (max-width: 1100px) {
        font-size: 1em;
        padding: 0.95em 1em 0.95em 3em;
      }
      &::placeholder {
        transition: .3s;
        color: #3a3f46;
      }
      &:hover {
        &::placeholder {
          color: #888;
        }
      }
      &:focus {
        transition: 0.3s;
        outline: none;
      }
      @media screen and (min-width: 751px) {
        &:focus {
          transition: 0.3s;
          outline: none;
          position: absolute;
          min-width: 20em;
          max-width: 90vw;
          z-index: 1;
        }
      }
    }
    @media screen and (max-width: 750px) {
      order: 1;
      grid-column: span 3;
    }
    @media screen and (max-width: 550px) {
      grid-column: span 4;
      .search_input {
        border-radius: 1.5em 0 0 0;
      }
    }
  }
  .select_holder {
    position: relative;
    background-color: #3a3f46;
    padding-left: 2rem;
    min-width: 14em;
    overflow: hidden;
    transition: 0.3s;
    @media screen and (min-width: 751px) {
      &:hover {
        background-color: #222529;
        span {
          transform: translate(0.9em, -50%) rotate(90deg);
        }
      }
    }
    @media screen and (max-width: 550px) {
      padding-left: 2em;
    }
    span {
      position: absolute;
      top: 50%;
      left: 0;
      transition: 0.3s;
      transform: translate(0.9em, -50%);
      user-select: none;
      color: #fff;
      font-size: 1.1vw;
      cursor: pointer;
      transition: 0.3s;
      @media screen and (max-width: 1100px) {
        font-size: 1em;
      }
    }
    .search_select {
      height: 4em;
      transition: 0.3s;
      user-select: none;
      max-width: 10em;
      cursor: pointer;
      appearance: none;
      padding: 0.5em 1em;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
      border: none;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 1vw;
      font-weight: 700;
      transition: 1s;
      animation: growing 1s ease-in;
      position: relative;
      @media screen and (max-width: 1100px) {
        font-size: 1em;
      }
      option {
        background-color: #3a3f46;
      }
      &:focus {
        outline: none;
      }
    }
    @media screen and (max-width: 750px) {
      order: 3;
      grid-column: span 4;
      margin-top: 1em;
      .search_select {
        max-width: none;
      }
    }
  }
  @keyframes growing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .search_btn {
    border-radius: 0 1.5em 0 0;
    border: none;
    background-color: #3a3f46;
    padding: 0 1em;
    width: 13em;
    color: #c78550;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
    @media screen and (max-width: 1100px) {
      font-size: 1em;
    }
    &:before {
      content: "";
      position: absolute;
      width: 3px;
      height: 2em;
      border-radius: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #fff;
      display: block;
      transition: 0.3s;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #222529;
      &:before {
        height: 100%;
      }
    }
    @media screen and (max-width: 750px) {
      order: 2;
      width: 7em;
      &:before {
        display: none;
      }
    }
    @media screen and (max-width: 550px) {
      grid-column: span 4;
      border-radius: 0 0 1.5em 0;
      width: 100%;
      padding: 0.8em;
    }
  }
}
.heart,
.libra {
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
}
.nav_item {
  &:nth-child(1) {
    flex-basis: 8%;
  }
  &:nth-child(2) {
    flex-basis: 15%;
  }
  &:nth-child(3) {
    flex-basis: 15%;
  }
  a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    @media screen and (max-width: 1100px) {
      font-size: 1em;
    }
    &:hover {
      text-decoration: none;
      color: #f6e3ce;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }
  &.active_link {
    a {
      color: #f5c99e;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0.7em 0;
    text-align: center;
  }
}
.nav_item_double {
  flex-basis: 37%;
  display: flex;
  justify-content: flex-end;
  a:first-child {
    padding-right: 1em;
  }
  a:last-child {
    padding-left: 1em;
  }
  @media screen and (max-width: 992px) {
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  transition: 0.3s;
  img {
    width: 60%;
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  transition: 0.3s;
  visibility: hidden;
  //width: 120px;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1em;
  padding: 0.3em 1em;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  right: 3em;
  top: -2.5em;
  @media screen and (max-width: 1100px) {
    font-size: 1em;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
