
.sidebar_user_control {
  transform: translateY(-4rem);
  background-color: #3a3f46;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 4fr 7fr;
  align-items: center;
  div:nth-child(2) {
    white-space: nowrap;
  }
  .arrow {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 900;
    padding: .5em 5%;
    display: inline-block;
  }
  .link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 700;
    width: 8em;
    &:hover {
    }
  }
  .aside_btn_active {

  }
}

.bell {
  margin-left: .3em;
}

.notifications_number {
    position: absolute;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  width: 17px;
  padding-top: 1px;
  height: 17px;
  top: 0;
  transform: translate(-50%, -20%);
  font-size: .8em;
}
