.sidebar_user_control {
  border-radius: 1em;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -4rem;

  div {
    div {
      background-color: #3a3f46;
    }
    span {
      background-color: #3a3f46;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      &:hover {
        color: #ffffff;
      }
    }
    a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
  }
  @media screen and (max-width: 1550px) {
    margin-top: -2rem;
  }
  @media screen and (max-width: 1100px) {
    margin-top: 0;
  }
}

.bell {
  margin-left: 0.3em;
}

.notifications_number {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  width: 17px;
  padding-top: 1px;
  height: 17px;
  top: 0;
  transform: translate(-50%, -20%);
  font-size: 0.8em;
}
