.sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #383d43;
  box-shadow: 5px 5px 25px 3px #222;
  padding: 1em;
  z-index: 999;
  display: none;
  width: 90vw;
  //width: 22em;
  height: 100%;
}

.sidebar_toggler {
  display: none;
  position: absolute;
  z-index: 999;
}

@media screen and (max-width: 1100px) {
  .sidebar,
  .sidebar_toggler {
    display: block;
  }
}

.sidebar_messages {
  padding: 0.5em;
  img {
    width: 100%;
    background-color: #ddd;
    border-radius: 0.5em;
  }
}

.sidebar_user {
  header {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
  }
}
.user_ava {
  border-radius: 50%;
  overflow: hidden;
}
.user_info {
  display: grid;
  grid-gap: 0.7em;
}
.username {
  font-weight: 500;
}
.user_rating {
  padding-bottom: 0.3em;
}
.user_location {
  font-weight: 500;
  img {
    margin-right: 0.6em;
  }
}

.sidebar_logo {
  display: flex;
  justify-content: space-between;
  a {
    width: 70%;
    max-width: 90%;
  }
  img {
    width: 100%;
  }
  .switch_sidebar {
    padding: .5em;
    font-size: 2.5em;
    color: #ffffff;
  }
}
