//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.sidebar {
  background: linear-gradient(135deg, #3d4249, #31353b);
  min-height: 100vh;
  height: 100%;
  border-radius: 1em;
  padding: 3rem 9%;
  overflow: hidden;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.sidebar_logo {
  display: flex;
  justify-content: flex-end;
  padding-bottom: .5em;
  a {
    width: 70%;
    max-width: 90%;
  }
  img {
    width: 100%;
  }
}

.user_bar {
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: 4fr 7fr;
  align-items: center;
}
.user_ava {
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  height: 10em;
  border: 5px solid #c78550;
  width: 10.1em;
  padding: 0.7em;
  margin: 0 0 0 -0.8em;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    height: 8em;
    width: 8.1em;
    border-radius: 50%;
  }
  @media screen and (max-width: 1550px) {
    width: 8.1em;
    height: 8em;
    img {
      height: 6em;
      width: 6.1em;
    }
  }
  @media screen and (max-width: 1100px) {
    margin: 0;
    width: 30vw;
    height: 30vw;
    padding: 0;
    img {
      height: 25vw;
      width: 25vw;
    }
  }
}
.user_info {
  display: grid;
  .username {
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
  }
  .user_rating {
    display: inline-block;
    span {
      color: #fff;
      font-size: 2.1em;
      @media screen and (max-width: 1250px) {
        font-size: 1.5em;
      }
    }
  }
}

.sidebar_component {
  background: linear-gradient(-37deg, #1e1f1e 0%, #383b42 100%);
  min-height: 100vh;
  height: 100%;
  display: grid;
  margin-top: -5rem;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  @media screen and (max-width: 1550px) {
    margin-top: -3rem;
  }
}
