.update_form {
	display: grid;
}
.priorities,
.types {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	div {
		grid-column: span 3;
	}
}

.photo_list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 1em;
	height: 7em;
	overflow: hidden;
	align-items: center;
	justify-items: center;
	img {
		width: 100%;
		//height: 5em;
	}
}
