.update_form {
	display: grid;
}
.priorities,
.types {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	div {
		grid-column: span 3;
	}
}


.photo_list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 1em;
	height: 7em;
	overflow: hidden;
	align-items: center;
	justify-items: center;
	div {
		position: relative;
		span {
			position: absolute;
			top: 0;
			right: 0;
			opacity: .7;
		}
	}
	img {
		width: 100%;
		//height: 5em;
	}
}

//.checkedValue {
//	position: relative;
//	&::before {
//		position: absolute;
//		top: 50%;
//		left: 50%;
//		transform: translate(-50%, -50%);
//		content: '';
//		width: 5px;
//		height: 5px;
//		border-radius: 50%;
//		background: red;
//	}
//}
