
$shadowSm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07) !important;
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;

.interesting_lots_list {
	background-color: #3a3f46;
	padding: 2.5em 1.5em 1em 1.5em;
	grid-column: span 3;
	margin-top: 1em;
	border-radius: 1em;
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, 20em);
		justify-content: space-around;
		grid-column-gap: 1em;
		grid-row-gap: 3em;
		li {
			border-radius: 1em;
			overflow: hidden;
		}
		@media screen and (max-width: 715px) {
			grid-template-columns: 100%;
		}
	}
	@media screen and (max-width: 768px) {
			grid-column: span 1;
	}
}

.interesting_img {
	position: absolute;
	top: 0;
	left: 1em;
	transform: translateY(-100%);
	height: 1.5em;
}

.card {
	box-shadow: $shadow;
	border-radius: 1em;
	border: 1px solid #2e3137;
	color: #383b42;
	position: relative;
	//height: 27em;
	//background-color: #d75359;
	display: grid;
	grid-template-rows: 20em 7em;
	//overflow-x: hidden;
	position: relative;
}
.card_header {
	position: relative;
}
.card_header_control {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	background-color: #3a3f46;
	span {
		cursor: pointer;
		padding: 0.5em 1em;
		height: 2em;
		img {
			width: 1.5em;
		}
	}
}
.lot_img_holder {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 20em;
	//display: grid;
	//justify-content: center;
	//align-items: center;
	//align-content: center;
	img {
		//width: 100%;
	}
	@media screen and (max-width: 715px) {
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}
}
.green_sign {
	font-weight: 500;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: #8fb50c;
	color: #fff;
	padding: 0 0.5em;
	height: 25px;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		transform: translateX(100%);
		display: inline-block;
		border-top: 25px solid transparent;
		border-left: 15px solid #8fb50c;
	}
}
.card_info {
	position: relative;
	padding: 1em 0.5em;
	background-color: #2e3137;
	border-radius: 0 0 1em 1em;
	//height: 7em;
	h5 {
		height: 1.5em;
		overflow: hidden;
		color: #fff;
		font-weight: 500;
	}
}
.card_price {
	color: #fff;
	font-weight: 500;
	font-size: 1.6em;
	font-weight: 700;
	// letter-spacing: 7px;
}
.card_elipse {
	position: absolute;
	top: 0;
	right: 1em;
	width: 1em;
	height: 1em;
	background-color: #383b42;
	box-shadow: $shadow;
	border-radius: 50%;
	transform: translateY(-50%);
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 3em;
	transition: .3s;
	user-select: none;
	span {
		transition: .5s;
	}
	&:hover {
		background-color: #6c757d;
	}
}

.interesting_lots_list_control {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	padding: 2em 0 0 0;
	span:nth-child(1),
	span:nth-child(4) {
		cursor: pointer;
		text-align: center;
		padding: 0.7em 1em;
		font-weight: 700;
		display: block !important;
		background-color: #22262a;
		color: #fff;
		border-radius: .2em;
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}
.toast {
	position: absolute;
	top: 2em;
	right: 1em;
}