
.user_avatar {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 1em auto;
}

.image_cropper {
  width: 100%;
  max-width: 20em;
  margin: 1em auto;
}

.cropped_image_preview {
  width: 100%;
  max-width: 20em;
  margin: 1em auto;
}
