.login_page {
  background-color: #3a3f46;
  min-height: 100vh;
  height: 100%;
  color: #fff;

  input {
    background-color: #3a3f46;
    border: 1px solid #999;
    color: #fff;
    &:focus {
      color: #fff;
      background-color: #3a3f46;
    }
  }
}

.facebook_icon, .google_icon {
  width: 2em;
  margin-left: .5em;
  filter: invert(1);
}

.form_group {
  position: relative;
}
.input_eye {
  position: absolute;
  width: 1em;
  top: 2.4em;
  right: 1em;
  filter: invert(1);
}

.login_with_google_facebook_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  gap: 2em;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}