.login_page {
  background-color: #fff;
  min-height: 100vh;
}

.facebook_icon, .google_icon {
  width: 2em;
  margin-left: .5em;
  filter: invert(1);
}

.form_group {
  position: relative;
}
.input_eye {
  position: absolute;
  width: 1em;
  top: 2.4em;
  right: 1em;
}