.add_lot_page {
	display: grid;
	grid-gap: 1em;
	h3 {
		background-color: #fff;
		text-align: center;
		padding: 0.3em 1em;
	}
}

.add_lot_form {
	background-color: #fff;
	padding: 1em;
	display: grid;
	grid-gap: 1em;
	.btn_back {
		padding: 0.1em 1em;
		border: 1px solid #000;
		width: fit-content;
	}

	form {
		display: grid;
		grid-gap: 0.5em;
		grid-gap: 1em;
		grid-template-columns: 3fr 2fr;
		label,
		legend {
			width: 100%;
		}
		input[type="text"],
		input[type="url"],
		input[type="number"],
		textarea {
			width: 100%;
		}
		select {
			margin-bottom: 0.5em;
		}

		.condition_fieldset {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			label {
				white-space: nowrap;
			}
			legend {
				grid-column: span 2;
			}
			input {
				margin-left: 0.5em;
			}
		}
	}
}
